.formInput {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;

  border-bottom: 1px solid var(--form-grey);

  width: 280px;
  height: 32px;

  @media screen and (min-width: 768px) {
    gap: 20px;

    width: 400px;
    height: 35px;
  }

  &__icon {
    display: block;
  }

  &__input {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 1.125rem;
    color: var(--form-text);

    border: none;
    outline: none;

    width: 100%;

    transition: color 0.3s ease-in;

    &::placeholder {
      color: var(--form-dark-grey);
    }

    &:hover,
    &:active,
    &:focus {
      color: var(--form-dark-grey);
    }
  }
}
