.formInput {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;

  border-bottom: 1px solid var(--form-grey);
  transition: border-color 0.3s ease-in;

  width: 280px;
  height: 32px;

  @media screen and (min-width: 768px) {
    gap: 20px;

    width: 400px;
    height: 35px;
  }

  &__img {
    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 24px;
    height: 24px;
  }

  &__icon {
    fill: var(--form-grey);
    transition: fill 0.3s ease-in;
  }

  &__input {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 1.125rem;
    color: var(--form-text);

    border: none;
    outline: none;
    background: none;

    width: 100%;

    &::placeholder {
      color: var(--form-grey);
      opacity: 100%;
    }
  }

  &:hover,
  &:active,
  &:focus {
    border-color: var(--form-dark-grey);

    & .formInput__icon {
      fill: var(--form-dark-grey);
    }
  }
}
