.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 75px;

  height: 600px;
  max-width: 1200px;
  margin: 0 auto;

  &__info {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  &__title {
    font-family: Poppins, sans-serif;
    color: var(--text-dark-main);
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 150%;

    margin: 0;
  }

  &__subtitle {
    font-family: Poppins, sans-serif;
    color: var(--text-dark-primary);
    font-weight: 400;
    font-size: 1.25rem;

    margin: 0;
  }
}
