:root {
  --button-green: #24cca7;
  --button-green-hover: #63e3c8;
  --button-white: #fff;
  --button-blue: #4a56e2;

  --form-grey: #e0e0e0;
  --form-dark-grey: #a3a3a3;
  --form-text: #858585;

  --background-white: #fff;
  --background-greyish: #e7eaf2;
  --background-violet: #c5baff;
  --background-peach: #ffd8d0;
}
