.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 15px 100px;

  &__nav {
    display: flex;
    align-items: center;
    gap: 40px;

    list-style: none;
  }

  &__link {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 1.25rem;

    color: var(--text-dark-primary);
    text-decoration: none;

    &:hover {
      color: var(--text-accent-blue);
      transition: color 0.3s ease-in;
    }
  }

  &__buttons {
    display: flex;
    gap: 20px;
  }
}
