.button {
  border: none;
  border-radius: 20px;
  transition: color 0.3s ease-in, background-color 0.3s ease-in;
}

.small {
  font-family: Poppins, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;

  padding: 4px 12px;
}

.big {
  font-family: Poppins, sans-serif;
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 400;

  width: 280px;
  height: 50px;

  @media screen and (min-width: 1280px) {
    width: 300px;
  }
}

.green {
  background-color: var(--button-green);
  color: var(--button-white);

  &:hover,
  &:active,
  &:focus {
    background-color: var(--button-green-hover);
  }
}

.white {
  background-color: var(--button-white);
  border: 1px solid var(--button-blue);
  color: var(--button-blue);

  &:hover,
  &:active,
  &:focus {
    background-color: var(--button-blue);
    border: none;
    color: var(--button-white);
  }
}

.blue {
  background-color: var(--button-blue);
  color: var(--button-white);

  &:hover,
  &:active,
  &:focus {
    background-color: var(--button-blue-hover);
  }
}
